body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(14, 0, 27);
    margin: 0;
    padding: 0;
    color: white;
}

h1,h2 {
    text-align: center;
}

#top-section {
    text-align: center;
    max-width: 1100px;
    margin: auto;
    gap: 100px; 
    color:white
}
/* Navigation */
#links {
    background-color: rgb(146, 77, 243);
    padding: 20px;
    text-align: center;
}

#links a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

#links a:hover {
    color: #007BFF;
}

/* Sections */
.section {
    padding: 40px;
    border-bottom: 2px solid white;
}

/* Header */
#header {
    text-align: center;
    padding: 40px;
}

/* Profile Image */
.profile-pic {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    border: 3px solid white;
}

/* Education Cards */
.edu-card {
    background-color: rgb(132, 93, 185);
    padding: 20px;
    margin: 20px auto;
    width: 70%;
    border: 2px solid white;
    color: black;
}

/* Experience Cards */
.work-card {
    background-color: rgb(50, 45, 85);
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border: 2px solid white;
}

/* Images */
.work-card-img img,
.work-card-video video {
    width: 250px;
    border: 2px solid white;
}

/* Footer */
#footer {
    text-align: center;
    padding: 20px;
    border-top: 2px solid white;
}